.icon-and-text {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.icon-margin {
  margin-right: 8px;
}

.expand-icon-right {
  margin-left: auto;
  margin-right: 0;
}
.expand-icon {
  color: var(--mat-sys-primary);
}
.submenu-content {
  padding-left: 40px;
}

.activelink {
  background-color: #dbdada !important;
}

mat-list-item {
  border-radius: 10px !important;
  margin-bottom: 4px;
}
